
- if @head_item
  -#%h3
  -#  Top
  %ul
    %li.head_item
      - if @head_item.title == 'expressions'
        %a{ :href => '/ruote_website/documentation.html'}
          Documentation
      - else
        %a{ :href => '/ruote_website' + @head_item.path }
          = @head_item.title

- if @head_item && @head_item.title == 'expressions'
  %h3{ :onclick => 'document.location = "/ruote_website/expressions.html"', :style => 'cursor: pointer' }
    Expressions
- else
  %h3{ :onclick => 'document.location = "/ruote_website/documentation.html"', :style => 'cursor: pointer' }
    Documentation
%ul
  - @items.each do |item|
    %li{ :class => item == @item ? 'current' : nil }
      %a{ :href => '/ruote_website' + item.path }
        = item[:side_title] || item.title
    - aliases = (item[:names] || []) - [ item.title ]
    - if aliases.size > 0
      %ul.alias
        - aliases.each do |al|
          %li
            %a{ :href => '/ruote_website' + item.path }
              = al

%h3
  More
%ul.contact

  - elts = []
  - elts << [ 'https://github.com/jmettraux/ruote/tree/master/quickstart', 'quickstart' ]
  - elts << [ '/ruote_website/presentations.html', 'presentations' ]
  - elts << [ '/ruote_website/resources.html', 'resources' ]
  - elts << [ '/ruote_website/users.html', 'users' ]

  - elts.each do |elt|
    %li{ :class => elt.first == @item.identifier.to_s[0..-2] + '.html' ? 'current' : nil }
      %a{ :href => elt.first }
        = elt.last

%h3
  Meta
%ul.contact

  - elts = []
  - elts << [ '/ruote_website/source.html', 'source' ]
  - elts << [ '/ruote_website/download.html', 'download' ]
  - elts << [ 'http://jmettraux.github.com', 'blog' ]
  - elts << [ '/ruote_website/lists.html', 'mailing list' ]
  - elts << [ 'http://ruote-ci.s3.amazonaws.com/ci.html', 'continuous integration' ]
  - elts << [ 'http://ruote-irclogs.s3.amazonaws.com/logs.html', 'IRC' ]
  - elts << [ 'https://www.ohloh.net/p/ruote/', 'on ohloh' ]

  - elts.each do |elt|
    %li{ :class => elt.first == @item.identifier.to_s[0..-2] + '.html' ? 'current' : nil }
      %a{ :href => elt.first }
        = elt.last

%h3
  %span
    Search
%ul.contact
  %li
    %form{ :method => 'GET', :action => 'http://www.google.com/search' }
      %input#qq{ :type => 'text', :style => '', :name => 'qq' }
      %input#q{ :type => 'hidden', :name => 'q' }
      %input{ :type => 'submit', :value => 'search', :onclick => 'adjustSearch();' }

:javascript
  function adjustSearch() {
    $('#q').val($('#qq').val() + ' site:http://ruote.rubyforge.org');
  }
